@{
    ViewData["Title"] = "About";
    ViewData["name"] = "about";
}

<div class="@ViewData["name"]-wrapper">
    <div class="@ViewData["name"]-content">
        <h1>@ViewData["Title"]</h1>
        <section>
            <ul class="work-experience">
                <li>
                    <div>
                        <h2 class="title">Musical Director</h2>
                        <h3 class="employer">P&amp;O Cruises</h3>
                        <p class="dates">April 2008 - September 2016</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h2 class="title">Orchestra Bassist</h2>
                        <h3 class="employer">NCL (Norwegian Cruise Line)</h3>
                        <p class="dates">November 2004 - April 2008</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h2 class="title">Orchestra Bassist</h2>
                        <h3 class="employer">Fred Ohlsen Cruises</h3>
                        <p class="dates">2004</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h2 class="title">Orchestra Bassist</h2>
                        <h3 class="employer">RCCL (Royal Caribbean Cruise Line)</h3>
                        <p class="dates">2001 - 2004</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h2 class="title">Orchestra Bassist</h2>
                        <h3 class="employer">HAL (Holland America Line)</h3>
                        <p class="dates">1998 - 2001</p>
                    </div>
                </li>
            </ul>
        </section>


    </div>
</div>