@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-2">Let's have some fun</h2>
    <div id="page_main" class="columns">
        <div class="column"></div>
        <div class="column demo-list x-media_column_main">
            <ul>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Projects</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            </ul>
        </div>
       <div class="column"></div>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
