@{
    ViewData["Title"] = "Projects Page";
    ViewData["name"] = "projects";
}

<div class="@ViewData["name"]-wrapper">
    <div class="@ViewData["name"]-content">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>