@{
    ViewData["Title"] = "Projects Page";
    ViewData["name"] = "projects";
}

<div class="@ViewData["name"]-wrapper">
    <div class="@ViewData["name"]-content">
        <h1>@ViewData["Title"]</h1>
        <section>
            <ul class="projects-class">
                <li>
                    <div>
                        <h2 class="title">Weather &amp; Exchange rates</h2>
                        <p>Producing weather forecast and exchange rates for selected location.</p>
                        <a href="https://github.com/pub-education/pub-ED-weatherExchangeRates" class="link-class">Github: Weather &amp; Exchange rates</a>
                    </div>
                </li>
                <li>
                    <div>
                        <h2 class="title">Golf game</h2>
                        <p>Console game simulating a golf game.</p>
                        <a href="https://github.com/pub-education/pub-ED-ConsoleGolfGame" class="link-class">Github: Golf game</a>
                    </div>
                </li>
                <li>
                    <div>
                        <h2 class="title">Vending Machine</h2>
                        <p>Console application simulating a vending machine.</p>
                        <a href="https://github.com/pub-education/pub-ED-VendingMachine" class="link-class">Github: Vending machine</a>
                    </div>
                </li>
                <li>
                    <div>
                        <h2 class="title">Sokoban</h2>
                        <p>An implementation of the Sokoban game.</p>
                        <a href="https://github.com/pub-education/pub-ED-sokoban"class="link-class">Github: Sokoban</a>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>