.projects-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects-content {
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px paleturquoise;
    padding: 1rem;
}

    .projects-content section ul {
        list-style: none;
        color: darkblue;
    }
    .projects-content section li {
        margin-top:1.5rem;
    }
    .projects-content section h2 {
        font-size: 2rem;
        font-weight: bolder;
        color: black;
    }

    .projects-content section p {
        font-size: 1rem;
    }

    .projects-content h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
